// Aquí se definen algunas variables que se van a usar en la app
// Ej. $primary: #2D3509;

$primary-dark :    #337EA9;
$secondary-dark :  #011a42;
$primary-light :   #D9EFE2;
$secondary-light : #AFCBBF;